<form action="/quizes" method="get">
	<input type="text" name="search" required="required">
	<input type="submit" value="Buscar">
</form><br>


<table>
	<% quizes.forEach(function(quiz) {%>
		<tr>
			<td><a href="quizes/<%= quiz.id %>"> <%= quiz.pregunta %>(<%=  quiz.categoria %> )</a></td>
			<td><a href="/quizes/<%= quiz.id %>/edit"><button type="button">Editar</button></a></td>
			<td>
				<form action="/quizes/<%= quiz.id %>?_method=delete" method="post"><button type="submit" onClick="return confirm('Borrar: <%= quiz.pregunta %> ');"> Borrar</button></form>
			</td>
		</tr>
	<% }); %>
</table>

<a href="/quizes">Ver todas</a>
<a href="/quizes/new"><button type="button">Nueva pregunta</button></a>